body {
    background: #262a2b;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #b7b7b7;
}


.container li {
    display: inline-block;
    width: 20%;
    padding: 1.5%;
    position: relative;
    vertical-align: top;
    margin: 7px;
    min-height: 25vh;
    background: #262a2b;
    border: 1px solid #252727;
    text-align: left;
    border-radius: 0;
    outline: 1px solid #b7b7b7;
}

.container li p {
    font-size: 16px;
    line-height: 18px;
    margin-top: 5px;
}

.loader {
    position: fixed;
    top: 85%;
    left: 48.5%;
    font-size: xx-large;
}